*{
    padding:0;
    margin:0;
}
.wrap {
    width:1000px;
    margin:0 auto;
    box-sizing: border-box;
}
header {
    height:50px;
    background-color: #3092d1;
    color: #fff;
    padding-left:20px;
    line-height: 50px;
}
main{
    box-sizing: border-box;
    padding: 50px;
    background-color: #eee;
    display: flex;
    flex-direction: column;;
}
form {
    display: flex;
    flex-direction: column;
}
form section {
    display: flex;
    width: auto;
    margin-bottom: 10px;

}
section label {
    flex: 0 0 25%;
    text-align: right;
}
section input{
    flex: 0 0 25%;
    margin-right: 10px;
}
#submit{
    padding: 5px 10px;
    background-color: #3092d1;
    color: #fff;
    border:none;
    border-radius: 5px;
}
section p{
    flex: 0 0 50%;
    color: #f00;
}