/*样式初始化*/
*{
    margin:0;
    padding:0;
}
header,main,footer{
    width:100%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Microsoft YaHei";
}

/*顶部*/
header{
    flex: 1 1 125px;
    background-color: #efefef;
    border-bottom: 2px solid rgb(36,135,201);
}
header .h_wrap{
    height: 125px;
    width:1200px;
    min-width:1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*顶部左侧*/
header .h_wrap .logo_word{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .h_wrap .logo_word:hover{
    cursor: pointer;
}
header .h_wrap .logo_word_1{
    font-size: 25px;
    font-weight: 600;
}
header .h_wrap .logo_word_2 {
    font-size: 15px;
    color: #999;
}
/*顶部中间导航*/
header .h_wrap nav{
    display: flex;
    font-size: 15px;
    font-weight: 600;
}
header .h_wrap nav,
header .h_wrap nav .nav_1 a,
header .h_wrap nav .nav_2 a{
    color: #000;
    text-decoration: none;
}
header .h_wrap nav .nav_1 a:hover,
header .h_wrap nav .nav_2 a:hover{
    color: rgb(251,116,3);
    cursor: pointer;
}
header .h_wrap nav .nav_3{
    position: relative;
}
header .h_wrap nav .nav_3 .nav_3_1:hover{
    color: rgb(251,116,3);
    cursor: pointer;
}
header .h_wrap nav .nav_3 .nav_3_2{
    border: 1px solid rgb(251,116,3);
    background-color: #fcfcfc;
    width: 150px;
    position: absolute;
    padding: 20px 20px 0;
    font-weight: normal;
    display: none;
}
header .h_wrap nav .nav_3 .nav_3_2 a{
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #7d7e81;
}
header .h_wrap nav .nav_3 .nav_3_2 a:hover{
    color: rgb(251,116,3);
    cursor: pointer;
}
header .h_wrap nav .nav_3 .nav_3_2 a:nth-child(3),
header .h_wrap nav .nav_3 .nav_3_2 a:nth-child(6),
header .h_wrap nav .nav_3 .nav_3_2 a:nth-child(9){
    border-top: 1px dashed #808080;
    border-bottom: 1px dashed #808080;
    padding: 5px 0 5px;
}
/*顶部右侧*/
header .h_wrap .app{
    font-size: 15px;
    font-weight: 600;
    background: url("../img/phone.png") no-repeat;
    background-size: contain;
}
header .h_wrap .app a{
    text-decoration: none;
    color: #000;
    margin-left: 17px;
}
header .h_wrap .app a:hover{
    color: rgb(251,116,3);
}

/*主体内容*/
main{
    flex:1 1 auto;
    display: flex;
    flex-direction:column;
    font-size: 16px;
}
main .m_wrap{
    width:1200px;
    min-width:1200px;
    margin: 0 auto;
}
/*主体标题导航*/
main .m_wrap .top{
    line-height: 50px;
    font-weight: 600;
}
main .m_wrap .top a{
    text-decoration: none;
    color: #999;
}
main .m_wrap .top .top_title{
    color: #999;
}
/*主体表单*/
main .m_wrap .bottom{
    border:1px solid rgb(251,116,3);
    border-radius: 10px;
}
main .m_wrap .bottom p{
    background: rgb(251,116,3);
    color: #fff;
    line-height:42px;
    padding-left:18px;
    border-radius: 10px;
}
main .m_wrap .bottom form{
    display: flex;
    flex-direction: column;
    margin-top: 54px;
}
main .m_wrap .bottom form label span{
    color: rgb(251,116,3);
}
main .m_wrap .bottom form .form_1,
main .m_wrap .bottom form .form_2,
main .m_wrap .bottom form .form_3,
main .m_wrap .bottom form .form_4,
main .m_wrap .bottom form .form_5,
main .m_wrap .bottom form .form_6,
main .m_wrap .bottom form .form_7,
main .m_wrap .bottom form .form_8,
main .m_wrap .bottom form .form_9{
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}
main .m_wrap .bottom form .form_1 label,
main .m_wrap .bottom form .form_2 label,
main .m_wrap .bottom form .form_3 label,
main .m_wrap .bottom form .form_4 label,
main .m_wrap .bottom form .form_5 label,
main .m_wrap .bottom form .form_6 label,
main .m_wrap .bottom form .form_7 label,
main .m_wrap .bottom form .form_8 label,
main .m_wrap .bottom form .form_9 label{
    flex: 1 1 25%;
    text-align: right;
}
main .m_wrap .bottom form .form_1 input,
main .m_wrap .bottom form .form_2 .form_2_content,
main .m_wrap .bottom form .form_3 input,
main .m_wrap .bottom form .form_4 input,
main .m_wrap .bottom form .form_5 select,
main .m_wrap .bottom form .form_6 input,
main .m_wrap .bottom form .form_7 input,
main .m_wrap .bottom form .form_8 input,
main .m_wrap .bottom form .form_9 select{
    flex: 1 1 25%;
}
main .m_wrap .bottom form .form_1 .item,
main .m_wrap .bottom form .form_2 .item,
main .m_wrap .bottom form .form_3 .item,
main .m_wrap .bottom form .form_4 .item,
main .m_wrap .bottom form .form_5 .item,
main .m_wrap .bottom form .form_6 .item,
main .m_wrap .bottom form .form_7 .item,
main .m_wrap .bottom form .form_8 .item,
main .m_wrap .bottom form .form_9 .item{
    flex: 1 1 50%;
    margin-left: 10px;
}
main .m_wrap .bottom form .form_1 .item{
    color: rgb(251,116,3);
}
main .m_wrap .bottom form .form_2 .item .rect{
    display: inline-block;
    width: 44px;
    height: 8px;
    background-color: #ddd;
    margin-right: 4px;
}
main .m_wrap .bottom form .form_2 .item .rect:first-child{
    background-color: #f00;
}
main .m_wrap .bottom form .form_2 .form_2_content{
    display: flex;
    flex-direction: column;
}
main .m_wrap .bottom form .form_4 .item{
    position: relative;
}
main .m_wrap .bottom form .form_4 span a{
    color:rgb(251,116,3);
}
main .m_wrap .bottom form .form_4 .item .item_content{
    position: absolute;
    border: 1px solid rgb(36,135,201);
    top: 20px;
    left: 100px;
    padding: 10px 20px;
    display: flex;
    flex-direction:column;
    width: 70%;
    background: #fff;
    visibility: hidden;
}
main .m_wrap .bottom form .form_4 .item .item_content .item_content_1{
    margin-bottom: 20px;
    color: #6c6c6c;
}
main .m_wrap .bottom form .form_8 .item{
    border: 1px solid rgb(251,116,3);
    color: rgb(251,116,3);
    display: flex;
}
main .m_wrap .bottom form .form_10{
    margin-left: 25%;
    margin-bottom: 64px;
}
main .m_wrap .bottom form .form_10 a{
    text-decoration: none;
}
main .m_wrap #next{
    width: 234px;
    height: 38px;
    color: #fff;
    background: rgb(251,116,3);
    border-radius: 10px;
    border: none;
    margin: 0 auto 80px 27%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .m_wrap #next:hover{
    cursor: pointer;
    background-color: rgb(36,135,201);
}
/*底部*/
footer{
    background-color: #efefef;
    color: #999;
    margin-top: 148px;
}
footer .f_wrap{
    height: 112px;
    width:1200px;
    min-width:1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .f_wrap span a{
    color: #999;
    text-decoration: none;
}