html {
    line-height: 1.15;
}
body{
    margin: 0;
    font-family:"Times New Roman",Georgia,Serif;
}
.banner_wrap,
.bannerBottom_wrap,
.about_wrap,
.gallery_wrap{
    width: 1100px;
    margin:0 auto;
}
.banner,
.banner-bottom,
.about,
.gallery,
footer{
    width: 100%;
}
h1{
    margin: 0;
}